/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;

    @include mq($width-medium){
        padding: 10px 30px;
    }
}
  
.default {
    background-color: $color-default;
    transition-duration: .5s;

    &:hover {
        background-color: $light-default;
    }
}

.error {
    background-color: $color-error;
    transition-duration: .5s;

    &:hover {
        background-color: $light-error;
    }
}

.info {
    background-color: $color-info;
    transition-duration: .5s;

    &:hover {
        background-color: $light-info;
    }
}

.success {
    background-color: $color-success;
    transition-duration: .5s;

    &:hover {
        background-color: $light-success;
    }
}

.warning {
    background-color: $color-warning;
    transition-duration: .5s;

    &:hover {
        background-color: $light-warning;
    }
}